.nav {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  z-index: 1;
  height: 30px;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}
.nav_contents {
  display: flex;
  justify-content: space-between;
}
.nav_logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
  cursor: pointer;
  top:5px;
  padding-left: 28px;
}

.nav_avatar {
  position: fixed;
  width: 30px;
  cursor: pointer;
  right: 20px;
}
